<div class="home-page" style="text-align: center;">
    <h1>Module 2 </h1>
    <p>In this module I created a log file that is over 20 lines I also use validator, express, and handlebars</p>
    

</div>